*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
}


img{
    object-fit: cover;
}

.element-3 {
min-height: 100vh;
}
footer{
    background-color: cadetblue;
}
i{
    cursor: pointer;
}